/* reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.debug{
    border: 1px solid black;
}

body{
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
    min-width: 1200px;
    font-size: 18px;
    color: #000;
}
.clearfix:after{
    content: '';
    display:table;
    clear: both;
}


/* header */

.container{
    background-color: white;
    margin:0 auto;
    width:100vw;
}

header{
    line-height: 80px;
    position: fixed;
    z-index: 1000;
}

.header_logo{
    vertical-align: middle;
    margin-left: 20px;
}

.header_ul{
    margin-top: -29px;
}

nav ul{
    list-style-type: none;
    text-align: center;    
    width: 70%;
}

nav .logo, nav ul{
    float:left;
}

nav ul li{
    display: inline-block;
}

.inizia{
    display: inline-block;
}

.inizia .start_btn{
    background-color: rgb(79, 115, 191);
    color: rgb(252, 249, 249);
    text-decoration: none;
    padding: 10px 14px;
    display: block;
    float: right;
    
}

li.left{
    margin-left: 25px;
    float: left;
}

li.right{
    margin-right: 20px;
    float: right;
}

.access_btn{
    background-color: #fff;
    text-decoration: none;
    padding: 10px 14px;
    display: inline;
    color: black;
}

a{
    text-decoration: none;
    color: black;
}

#start{
    background-color: rgb(67, 67, 250);
    margin-right: -220px;
    padding: 10px 14px;
    display: inline;
    color: #fff;
}

/* /header */

/* main */

section{
    display: block;
}

#jumbo{
    background-color: rgb(124, 173, 247);
    width: 100%;
}

#jumbo .container_center{
    position: relative;
    max-width: 1320px;
    bottom: -80px;
    width: 90%;
}

#jumbo h1{
    margin-bottom: 40px;
    line-height: 100px;
    font-size: 70px;
}

#jumbo .left_column{
    float: left;
    width: 35%;
}

#jumbo .right_column{
    margin-left: 100px;
    float: left;
    width: 30%;
}

.container_center h1{
    margin-left: 60px;
}

.left_column p{
    margin-bottom: 10px;
    margin-left: 60px;
    width: 57%;
}


.singolo{
    text-align: center;
    padding-top: 80px;
}

.jumbo_img{
    width: 250%;
}

.start_trial{
    background-color: rgb(62, 62, 255);
    text-decoration: none;
    margin-bottom: 10px;
    margin-left: 60px;
    margin-top: 15px;
    display: block;
    color: white;
    width:  185px;
    height: 40px;
}

.delete_subscription{
    margin-left: 60px;
}

.arrow_down{
    margin-top: 60px;
    margin: 60px;
    height: 50%;
    float: left;
    width: 50%;
}

.middle_container{
    margin: 0 auto;
    width: 80%;
}

.header2{
    font-weight: bold;
    margin-top: 100px;
    text-align: left;
    font-size: 50px;
}
.check_left{
    display: inline-block;
    margin-top: 45px;
    width: 300px;
    
}

.check_right{
    display: inline-block;
    margin-top: 45px;
    width: 320px;
}

#plans .check_left_box {
    border: solid 5px blue;
    margin-right: 20px;
    border-radius: 50%;
    margin-left: -11px;
    cursor: pointer;
    height: 20%;
    width: 20%;
}
#plans .check_right_box {
    background-color: white;
    border-radius: 50%;
    margin-left: 10px;
    margin-left: 15px;
    cursor: pointer;
    height: 20%;
    width: 20%;
}

.row-plans{
    margin-top: 50px;
    width: 100%; 
}

.col_left{
    border:  1px solid #d0d0d3;
    height: 1200px;
    float: left;
    width: 30%;
    margin: 0; 
}

.col_middle{
    border:  1px solid #d0d0d3;
    height: 1200px;
    margin: 0 5%;
    float: left;
    width: 30%;
}

.col_right{
    border:  1px solid #d0d0d3;
    height: 1200px;
    float: left;
    width: 30%;
    margin: 0;
}

.top_section_col_left{
    border-bottom:  1px solid #d0d0d3;
    text-align: center;
    padding-top: 5%;
    height: 50px;
}

.top_section_col_middle{
    border-bottom:  1px solid #d0d0d3;
    text-align: center;
    padding-top: 5%;
    height: 50px;
}

.top_section_col_right{
    border-bottom:  1px solid #d0d0d3;
    text-align: center;
    padding-top: 5%;
    height: 50px; 
}

.col_bottom {
    border:  0.5px solid #d0d0d3;
    padding-bottom: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
    display: block;
    float: left;
    width: 100%;
}

.top_section_col_bottom {
    border:  0.5px solid #d0d0d3;
    text-align: center;
    padding-top: 14px;
    height: 50px; 
}

.enterprise_header{
    display: inline-block;
    font-size: xx-large;
    font-weight: bold;
    margin-left: 55px;
    text-align: left;
    margin-top: 35px;
}

.enterprise_h3{
    text-align: left;
    margin-top: 50px;
    margin-left: 55px;
}

.enterprise_p{
    text-align: left;
    margin-top: 50px;
    margin-left: 55px;
}

.partner_dropbox{
    margin: 70px auto;
    display: block;
    width: 80%;
}

.partner{
    object-fit: cover;
    height: 100%;
    width: 40%;
}

.partner_drop_box_right{
    height: 550px;
    float: right;
    width: 45%;
}

.h2_partner_dropbox{
    font-size: xx-large;
    margin-left: 35px;
    margin-top: 50px;
}

.p_partner_dropbox{
    padding: 35px 35px;
    font-size: 21px;
}

.find_partner{
    border: 1px solid black;
    background: white;
    margin-left: 35px;
    font-size: 20px;
    width: 45%;
    height: 8%;
}

.internal_description{
    margin-right: 45px;
    margin-left: 45px;
    text-align: left;
    margin-top: 35px;
}

.internal_description h2{
    margin-bottom: 25px;
}

.internal_description p{
     margin-top: 15px;
     color: #778591;
}

ul li{
    list-style: none;
}

ul{
    margin-top: 50px;
}

li{
    margin-top: 30px;
}

.gratis_trial {
    background-color: #0061ff;
    margin-bottom: 30px;
    margin-top: 30px;
    color: white;
    padding: 10px;
    width: 100%;
}

.try_now_blue{
    text-decoration-line: underline; 
    color: #0061ff; 
}

hr{
    margin-top: 30px;
    color: #f7f7f7;
    width: 30%;
}

.main_points{
    font-size: 16px;
}

.fa-solid .fa-check{
    color: #0061ff;
}

.right_section_col_bottom{
    margin-left: 750px;
    margin-top: -218px;
    float: left;
    width: 55%;
}

.contact_office{
    background-color: #0061ff;
    margin-bottom: 30px;
    margin-right: 50px;
    margin-top: 30px;
    color: white;
    padding: 10px;
    float: right;
    width: 40%;
}

.business_operation{
    position: relative;
    display: block;
    margin: auto;
    width: 80%;
}

.top_business_operation{
    width: 100%;
}

.h1_top_business_operation{
    margin-bottom: 20px;
    margin-top: 25px;
    font-size: 45px;
}

.child_business_operation{
    display: inline-block;
    width: 30%;
}

.top_child_operation {
    width: 100%;
    height: 50%;
}

.business_child_img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.bottom_child_operation {
    padding: 30px;
    width: 100%;
    height: 50%;
}

.margin_central {
    margin: 0 4.5%;
}

.top_business_operation_left{
    border: 1px solid black;
    height: 50%;
    width: 100%;
}

.teams{
    height: 230px;
    margin: auto;
    width: 80%;
}



.h1_teams{
    padding-bottom: 30px;
    padding-top: 20px;
    font-size: 52px;        
}

.discover_clients{
    text-decoration-line: underline; 
    font-weight: 500;
    color: #0061ff; 
}

.teams_logos{
    margin-bottom: 50px;
    height: 500px;
    width: 100%;
}

.lateral_logos_container {
    border: 1px solid black;
    height: 100%;
    float: left;
    width: 25%;
}

.lateral_logos_element {
    border: 1px solid black;
    padding: 10px;
    float: right;
    height: 50%;
    width: 50%;
}

.lateral_logos_element svg {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.central_logos_container {
    border: 1px solid black;
    background-color: #f5f5f5;
    padding: 50px;
    height: 100%;
    float: left;
    width: 50%;
}

.central_logos_container svg {
    object-fit: cover;
    margin-top: 50px;
    width: 25%;
    height: 25%;
}

.central_logos_container hr {
    margin-top: 55px;
    width: 15%;
}

.central_logos_container p {
    margin: 35px 0px;    
}

.dropbox_for_your_company{
    background-color: #b4d0e7;
    margin-bottom: 30px;
    padding: 30px;
    width: 100%;
}

.dropbox_wrapper {
    margin: auto;
    width: 80%;
}

.dropbox_for_your_company h2{
    margin-bottom: 20px;
    font-size: 48px;
    color: #61082b;
}

.right_drop_box_for_your_company{
    display: inline-block;
}

.left_drop_box_for_your_company {
    float: right;
}

.start_free_trial{
    background-color: white;
    font-size: 20px;
    padding: 10px;
    color: black;
    height: 50px;
    width: 100%;
}

.faq_container{
    margin: auto;
    width: 80%;
}

.faq_container h3 {
    margin-bottom: 20px;
}

.faq_container:last-child {
    margin-bottom: 50px;
}

.faq_element {
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
    padding: 20px 0px;
}

.faq_element p {
    display: inline-block;
}

.faq_element i {
    margin-right: 20px;
    float: right;
}

/* .fa-solid .fa-angle-down{
    margin-left: 1300px;
} */

/* /main */

/* footer */

.footer_container{
    background-color: #000000;
    padding: 50px;
    width: 100%;
}

.footer_wrapper {
    padding-left: 50px;
    margin: auto;
    width: 85%;
}
.footer_column {
    width: calc(100% / 5 - 20px);
    height: calc(100% - 60px);
    display: inline-block;
    color: #fff;
}

.footer_design hr {
    margin-bottom: 20px;
    margin-top: 80px;
    width: 10%;
}

.footer_design_language i{
    color: white;
}

.footer_design_description {
    margin: 0px 10px;
    color: white;
}

.footer_design_language:last-child {
    vertical-align: middle;
}
/* /footer */