/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug{
    border: 1px solid black;
}

body{
    font-family: 'Open Sans', sans-serif;
    min-width: 1200px;
    font-size: 18px;
    color: #000;
    scroll-behavior: smooth;
}
.clearfix:after{
    content: '';
    display:table;
    clear: both;
}


/* header */

.container{
    width:100vw;
    margin:0 auto;
    background-color: white;
}

header{
    line-height: 80px;
    position: fixed;
    z-index: 1000;
}

.header_logo{
    margin-left: 20px;
    vertical-align: middle;
}

nav ul{
    list-style-type: none;
    width: 70%;
    text-align: center;    
}

nav .logo, nav ul{
    float:left;
}

nav ul li{
    display: inline-block;
}

.inizia{
    display: inline-block;
}

.inizia .start_btn{
    float: right;
    padding: 10px 14px;
    background-color: rgb(79, 115, 191);
    color: rgb(252, 249, 249);
    display: block;
    text-decoration: none;
    
}

li.left{
    float: left;
    margin-left: 25px;
}

li.right{
    float: right;
    margin-right: 20px;
}

.access_btn{
    padding: 10px 14px;
    background-color: #fff;
    color: black;
    display: inline;
    text-decoration: none;
}


/* /header */

/* main */

section{
    display: block;
}

#jumbo{
    background-color: rgb(124, 173, 247);
    width: 100%;
}

#jumbo .container_center{
    width: 90%;
    max-width: 1320px;
    position: relative;
    bottom: -80px;

}

#jumbo h1{
    font-size: 70px;
    line-height: 100px;
    margin-bottom: 40px;
}

#jumbo .left_column{
    float: left;
    width: 35%;
}

#jumbo .right_column{
    float: left;
    width: 30%;
    margin-left: 100px;
}

.container_center h1{
    margin-left: 60px;
}

.left_column p{
    width: 57%;
    margin-left: 60px;
    margin-bottom: 10px;
}

.jumbo_img{
    width: 250%;
}

.start_trial{
    width:  185px;
    height: 40px;
    background-color: rgb(62, 62, 255);
    display: block;
    text-decoration: none;
    color: white;
    margin-left: 60px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.delete_subscription{
    margin-left: 60px;
}

#plans{
    padding-top: 200px;
}

.middle_container{
    width: 80%;
    margin: 0 auto;
}

.header2{
    font-size: 53px;
    text-align: left;
    font-weight: bold;
}
.check_left{
    display: inline-block;
    margin-top: 45px;
    width: 300px;
    
}

.check_right{
    display: inline-block;
    margin-top: 45px;
    width: 320px;
}

#plans .check_left_box {
    margin-right: 20px;
    border: solid 5px blue;
    width: 20%;
    height: 20%;
    border-radius: 50%;
    cursor: pointer;
    margin-left: -11px;
}
#plans .check_right_box {
    margin-left: 10px;
    background-color: white;
    width: 20%;
    height: 20%;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 15px;
}

.row-plans{
    width: 100%;
    height: 725px; 
    margin-top: 50px;
    border:  1px solid black;
}


span .singolo{
    text-align: center;
    margin-top: 80px;
}

.col_left{
    display: block;
    float: left;
    margin: 0; 
    width: 30%;
    height: 500px;
    border:  1px solid black;
}

.col_middle{
    display: block;
    float: left;
    margin: 0;
    width: 40%;
    height: 650px;
    border:  1px solid black;
}

.col_right{
    display: block;
    float: left;
    margin: 0;
    width: 30%;
    height: 500px;
    border:  1px solid black;
}

.top_section_col_left{
    text-align: center;
    border:  1px solid black;
    height: 50px;
}

.top_section_col_middle{
    text-align: center;
    border:  1px solid black;
    height: 50px;
}

.top_section_col_right{
    text-align: center;
    border:  1px solid black;
    height: 50px; 
}

.col_bottom {
    display: block;
    float: left;
    margin: 160px auto;
    width: 100%;
    height: 300px;
    border:  1px solid black;
}

.top_section_col_bottom {
    text-align: center;
    border:  1px solid black;
    height: 50px; 
}

.partner_dropbox{
    width: 80%;
    height: 550px;
    margin: 475px auto;
    display: block;
    border:  1px solid black;
}




/* /main */